@font-face { font-family: ProximaSans; src: url(/font/ProximaSans.ttf); }

@font-face { font-family: AnjaEliane; src: url(/font/002.ttf); }

body { font-family: ProximaSans; }

h1 { font-family: ProximaSans; font-weight: bold; }

h2 { font-family: ProximaSans; font-weight: bold; }
